body{
    background-color: rgb(201, 201, 36);

}

.center
{
    margin: auto;
    display: block;
}
h1
{
text-align: center;
background-color: rgb(133, 128, 109);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(219, 227, 236);
}

div 
{
    text-align: left;
    background-color: rgb(133, 128, 109);
    font-family: unset;
    color: rgb(219, 227, 236);
}
iframe
{
width: 700px ; height: 300px;
margin: auto;
display:block;

}

p
{
    font-size: 100%;
    font-family: cursive;
}

div
{
    background-color: rgb(93, 116, 84);
    color: white;
}